SDKROOT = iphoneos
SUPPORTED_PLATFORMS = iphoneos iphonesimulator
IPHONEOS_DEPLOYMENT_TARGET = 18.0
TARGETED_DEVICE_FAMILY = 1
SUPPORTS_MACCATALYST = NO
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD = NO
SUPPORTS_XR_DESIGNED_FOR_IPHONE_IPAD = NO
SWIFT_VERSION = 6.0
SWIFT_STRICT_CONCURRENCY = complete
SWIFT_UPCOMING_FEATURE_MEMBER_IMPORT_VISIBILITY = YES
ENABLE_USER_SCRIPT_SANDBOXING = YES
DEAD_CODE_STRIPPING = YES
CURRENT_PROJECT_VERSION = 1
DEVELOPMENT_TEAM = LN52N928QQ
CODE_SIGN_STYLE = Automatic
CODE_SIGN_IDENTITY[sdk=iphonesimulator*] = -
CODE_SIGN_STYLE[sdk=iphonesimulator*] = Manual
DEVELOPMENT_TEAM[sdk=iphonesimulator*] =
PROVISIONING_PROFILE_SPECIFIER[sdk=iphonesimulator*] =
EXCLUDED_ARCHS[sdk=iphonesimulator*] = x86_64
#include "Version.xcconfig"
#include? "Local.xcconfig"
